/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style starts */
body {
    background-color: #495057;
}

#watch {
    width: 60%;
    height: 500px;
    min-width: 340px;
    background-color: #212529;
    margin: auto;
    margin-top: 25%;
    transform: translateY(-50%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer {
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: 40px;
    color: white;
}

#btns {
    display: flex;
    justify-content: space-between;
    width: 40%;
    min-width: 300px;
    /* border: 1px solid white; */
}

button {
    padding: 10px 30px;
    font-size: 18px;
    background-color: rgb(210, 208, 208);
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
}


/* Responsive design */

@media only screen and (max-width: 1300px) {
    #watch {
        margin-top: 50vh;
    }

    .timer {
        font-size: 60px;
    }

    button {
        padding: 8px 25px;
        font-size: 16px;
    }
}


@media only screen and (max-width: 600px) {
    #watch {
        width: 95%;
        height: 300px;
        margin-top: 20vh;
    }
}